@media (max-width:990px){
    .header{
     
        height: 550px;
      
    }
    .polygone-img-top{
        display: none;
    }
    .polygone-img-bottom{
        display: none;
    }
    .main_text h2{
        
        font-size: 3rem;
    }
    .main_text h1 {
        
        font-size: 4rem;
    }
    .main_text p {
        font-weight: 700;
        word-spacing: 3px;
        letter-spacing: 1px;
        font-size: 2rem;
    }
    .card-img-box{
        display: none;
    }
    .card-main-2{
        background-image: none;
    }
    .about-card{
        border: 2px solid rgb(8, 106, 215,0.2) !important;
        transition: all 0.3s ease-in-out;
        width: 100%;
    }
}